body {
	padding-top: 70px;
	padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
	position: static;
	display: block;
	margin-bottom: 20px;
}

.theme-showcase > p > .btn {
	margin: 5px 0;
}

.theme-showcase .navbar .container {
	width: auto;
}


.mobility-form input {
    vertical-align: top;
}

.mobility-form label {
    display: inline-block;
    width: 20%;
    margin-right: 3%;
    vertical-align: top;
    line-height: 30px;
    text-align: right;
}

.well {
    background-image: linear-gradient(to bottom, #f3f3f3 0px, #f3f3f3 100%);
    font-family: "fantasy";
    border:0px;
    border-radius:0px;
    box-shadow: 0px 0px 23px -8px rgba(0,0,0,1);
    margin:0px;
    -webkit-text-stroke: 0.2px #000000;
}

.mobility-form input[type="text"],
.mobility-form input[type="password"],
.mobility-form input[type="email"],
.mobility-form input[type="number"], 
.mobility-form select {
    width: 25%;
    padding: 4px;
    
    background-color: #f8f8f8;
    border: none;
    box-shadow: 0px 0px 2px #555;
    margin-bottom: 10px;
}

.mobility-form input[type="text"]:focus,
.mobility-form input[type="password"]:focus,
.mobility-form input[type="email"]:focus,
.mobility-form input[type="number"]:focus,
.mobility-form select:focus {
    background-color: #f8f8f8;
    border: none;
    box-shadow: 0px 0px 4px #222;
}

.mobility-form input[type="file"] {
    display: inline-block;
}

.mobility-form select {
    padding: 4px;
}

.mobility-form span.info {
    display: inline-block;
    vertical-align: top;
    font-style: italic;
    margin-left: 10px;
}

.mobility-form .push {
    margin-left: 23%;
}

.mobility-form ul.error {
    color: #c41414;
    font-weight: bold;
    margin-bottom: 30px;
}

.mobility-form span.error {
    display: inline-block;
    color: #c41414;
    margin-left: 20%;
    font-weight: bold;
}

.form-checkbox span {
    display: inline-block;
    width: 20%;
    margin-right: 3%;
    vertical-align: top;
    text-align: right;
}

.form-checkbox input {
    width: auto;
    padding: 0;
    margin: 0;
}

.form-checkbox label {
    width: 75%;
    margin: 0;
    text-align: justify;
    line-height: normal;
}

div.form-select {
    display: inline-block;
}

table .error {
    color: #ce0606;
}

table .success {
    color: #24ce0a;
}

.jury tr{
    vertical-align: middle;
}

.jury td{
    padding: 5px;
    vertical-align: middle;
}

.align td{
    padding-right: 10px;
}

@media print {
    a[href]:after {
        content: none !important;
    }
    #form{
        display: none;
    }
    #year{
        display: none;
    }
}