/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
/app/cache/*
/build/
/vendor/
/bin/
/web/.htaccess*
/web/tmp/*
/web/uploads/*
/web/css/*
/web/js/*

!/web/js/autocomplete/
!/web/js/tablefilter/

/app/SymfonyRequirements.php

*~
